* {
    padding: 0ch;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 157, 0);
    position: relative;
    display: flex;
    justify-content: center;
}

section {
    width: calc(100% - 10px);
    height: 100%;
    margin: auto;
    border-radius: 15px;
}

.first {
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first .btn {
    font-size: 23px;
    width: 210px;
    box-shadow: 4px 8px 6px;
    border: none;
    margin: auto;
    border-radius: 5px;
    background-color: #fbff00;
    height: 43px;
    cursor: pointer;
    display: none;
    font-family: cursive;
}

.note_pade {
    
}

textarea {
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 17px;
    font-family: cursive;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.check {
    font-size: 30px;
    right: 38px;
    top: 6px;
    position: absolute;
    cursor: pointer;
    color: green;
}

.cross {
    font-size: 30px;
    height: 27px;
    top: 6px;
    right: 4px;
    position: absolute;
    cursor: pointer;
    
}

.second {
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    margin-top: 24px;
    padding: 20px 6px;
    background: linear-gradient(45deg, #6d6d6d, black, #bfbfbf);
    box-shadow: 2px 1px 12px 1px black;
    border: 2px solid;
    height: calc(100% - 130px);
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

.second::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

.second::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.divtag {
    width: 284px;
    height: 276px;
    box-shadow: 0 0 10px;
    border-radius: 4px;
    word-break: break-word;
    padding: 10px;
    font-size: larger;
    font-family: cursive;
    padding-top: 23px;
    position: relative;
}

.divtag span {
    font-size: 25px;
    position: absolute;
    top: -3px;
    left: 0px;
    cursor: pointer;
    color: red;
}
